<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zb.mapper.PersonMapper">
    <resultMap id="personResultMap" type="com.zb.entity.Person">
        <id property="id" column="id"></id>
        <result property="name" column="name"></result>
        <result property="age" column="age"></result>
        <result property="address" column="address"></result>

        <association property="dept" javaType="com.zb.entity.Dept" >
            <result property="id" column="dept_id"></result>
            <result property="deptName" column="deptName"></result>
        </association>
    </resultMap>
    <select id="findPersonByPage" resultMap="personResultMap">
        select * from person p,dept d where p.`dept_id`=d.`id`
        <if test="name!=null and name!=''">
            and name like concat('%',#{name},'%')
        </if>
        <if test="dept!=null and dept!=0">
            and dept_id = #{dept}
        </if>
        limit #{start},#{size}
    </select>

    <select id="findPersonCount" resultType="int">
      select count(*) from person p,dept d where p.`dept_id`=d.`id`
        <if test="name!=null and name!=''">
            and name like concat('%',#{name},'%')
        </if>
        <if test="dept!=null and dept!=0">
            and dept_id = #{dept}
        </if>
    </select>

    <insert id="addPerson" parameterType="com.zb.entity.Person">
        insert into person values(null,#{name},#{age},#{address},#{dept.id})
    </insert>

    <update id="updatePerson" parameterType="com.zb.entity.Person">
        update person set
        name=#{name},
        age=#{age},
        address=#{address},
        dept_id=#{dept.id}
        where id=#{id}
    </update>

    <delete id="deletePerson">
        delete from person where id=#{id}
    </delete>

    <select id="getPersonById" resultMap="personResultMap">
        select * from person where id=#{id}
    </select>
</mapper>